{% extends "base.html" %}
{% block content %}
    <h1>Привет, меня зовут Андрей. Я автор этого проекта.</h1>
    <div class="row">
        <div class="col-12 col-md-4 text-center">
            <h4>Мой Github:</h4>
            <h5><a target="_blank" href="https://github.com/draft-pick/">https://github.com/draft-pick/</a></h5>
        </div>
        <div class="col-12 col-md-8">
            <h4>Обо мне:</h4>
            В программирование пришел сразу из школы. Закончил колледж и ВУЗ по данному направлению. Большой фанат
            спорта. Любимый вид - баскетбол. Болельщик <a target="_blank" href="https://fc-zenit.ru/">
            ФК "Зенит Санкт-Петербург"</a> с 2000 года. Также очень люблю лыжные гонки и биатлон. Сам занимаюсь
            баскетболом и лыжным спортом.
        </div>
    </div>
{% endblock %}