{% extends 'base.html' %}
{% block content %}
    <h1>{% block header %}{{ group }}{% endblock %}</h1>
    <p>{{ group.description }}</p>
    {% for post in page_obj %}
        <ul>
            <li>
                Автор: <a href="{% url 'posts:profile' post.author.username %}">{{ post.author.get_full_name }}</a>
            </li>
            <li>
                Дата публикации: {{ post.pub_date|date:"d E Y" }}
            </li>
        </ul>
        <p>{{ post.text }}</p>
        <a href="{% url 'posts:post_detail' post.pk %}">подробная информация </a>
        {% if not forloop.last %}
            <hr>
        {% endif %}
    {% endfor %}
    {% include 'includes/paginator.html' %}
{% endblock content %}